{% extends 'base.html' %} {% block content %} {% for art in art %} 
{% if art.is_public %}
<article class="cf">
  <div class="fl w-50 w-25-ns" id="div">
    <a
      href="{% url 'gallery_detail' art.id %}"
      class="db aspect-ratio aspect-ratio--1x1 grow"
    >
      <span
        role="img"
        style="background-image:url({{art.url}});"
        class="bg-center cover aspect-ratio--object"
      ></span>
    </a>
  </div>

  {% endif %} {% endfor %}

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</article>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  var random = Math.floor(Math.random() * 5 + 1);
  $(`#div:nth-child(${random}n)`).attr("class", "fl w-50");
</script>
{% endblock %}
